.title-text {
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin: 20px;
}

lockscreen > playbin.no-lock > lock {
    background: url('resource:///com/endlessm/HackToolbox/hacktoolbox/lockscreen.jpg') no-repeat center / cover;
}

toolbox {
    background-image: url('resource:///com/endlessm/HackToolbox/hacktoolbox/background.png'),
                      radial-gradient(at -47% 158%,
                                      rgba(197, 163, 93, 0.81) 0%,
                                      rgba(208, 95, 52, 0.80) 14%,
                                      rgba(32, 69, 108, 0.63) 66%,
                                      #1C3753 100%),
                      image(rgba(14, 35, 65, 0.85));
}

toolbox headerbar {
    background: rgba(6, 20, 39, 0.80);
    opacity: 0.9;
}

toolbox revealer {
    /* This rule covers everything except the top header bar */
    font-family: 'Metropolis Medium';
}

.minimize {
    background-image: none;
    border: 0;
    box-shadow: none;
}

.minimize:focus {
    outline: none;
}

.reset {
    background-color: rgba(20, 77, 146, 0.795);
    background-image: none;
    border-radius: 8px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.9);
    padding: 6px;
}

.reset:hover {
   background-color: rgba(29, 112, 213, 0.795);
}

.sourceview {
    background: transparent;
    font-family: Hack;
}

.sourceview text {
    background: rgba(6, 20, 39, 0.48);
    /* spec was opacity: 0.6 and background alpha 0.8, but it does *not* look
    like the text was meant to be 60% opaque. Instead I've multiplied the
    background alpha by 0.6 */
    color: #fdfdfd;
    font-size: 18px;
}

.sourceview .left {
    /* Here also, the spec was opacity: 0.6 and background alpha 0.8, and
    moreover it was supposed to be applied on top of the text background. Here
    we premultiply it (0.48 + 0.48 * (1 - 0.48)) */
    background: rgba(6, 20, 39, 0.7296);
}

.codeview-frame border, .codeview scrolledwindow {
    border-width: 0;
}

.codeview-frame {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
}

/* Toolbox HeaderBar */
frame.toolbox > border,
frame.toolbox > toolbox,
frame.toolbox > toolbox > headerbar {
    border-radius: 8px 8px 0px 0px;
}

button.color {
    min-width: 55px;
}

button.popup {
    min-width: 55px;
    min-height: 55px;
    /* Reduce padding from Adwaita */
    padding: 0px;
}

button .selected-contents {
    padding: 4px;
}

popover.popup-menu image {
    padding: 10px;
}

.section {
    background: rgba(6, 20, 39, 0.48);
    /* spec was opacity: 0.6 and background alpha 0.8, but it does *not* look
    like the text was meant to be 60% opaque. Instead I've multiplied the
    background alpha by 0.6 */
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}

.section > .section-heading {
    background-image: linear-gradient(-129deg,
                                      rgba(11, 24, 60, 0.54) 0%,
                                      rgba(6, 20, 39, 0.40) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 18px;
    opacity: 0.85;
    padding: 5px 8px;
}

/* Notebook and tabs */
notebook {
    background-color: rgba(6, 20, 39, 0.24);
}

notebook header {
    background-color: rgba(6, 20, 39, 0.48);
}

notebook tabs,
notebook stack {
    background-color: transparent;
}

/* Checkboxes */
checkbutton {
   padding: 9px;
   background-color: rgba(6, 20, 39, 0.50);
}

/* Sliders */
slider {
    background-image: linear-gradient(-131deg,
                                      rgba(249, 147, 71, 0.85) 0%,
                                      rgba(241, 90, 34, 0.85) 100%);
}

.codeview {
    font-family: monospace;
}

popover.error {
    background-color: #ffb1aa;
    padding: 12px;
}

.framework.toolbox-surrounding-window.has-changes {
    background-image: cross-fade(100% url('resource:///com/endlessm/HackToolbox/framework/toolbox-background.png'),
                                 linear-gradient(transparent, transparent));
    transition-duration: 200ms;
}

.framework.toolbox-surrounding-window {
    background-image: cross-fade(0% url('resource:///com/endlessm/HackToolbox/framework/toolbox-background.png'),
                                 linear-gradient(transparent, transparent));
    transition: background-image 10s;
}

.framework.toolbox-surrounding-window,
.OperatingSystemApp.toolbox-surrounding-window,
.HackUnlock.toolbox-surrounding-window,
.Fizzics.toolbox-surrounding-window {
    background-color: rgba(0, 0, 0, 0);
}

/* Miscellaneous theme overrides */
arrow, button.down, button.up, .dropdown {
   opacity: 0.81;
   color: #f18c22;
}

arrow:disabled,
button.down:disabled,
button.up:disabled,
.dropdown:disabled {
    /* Adwaita uses 50% mix between foreground and background color for
     * insensitive FG. The BG color here is from Adwaita's dark variant.
     * Computed with sassmeister.com from these functions:
     * color: mix(#f18c22, desaturate(#3d3846, 10%), 50%); */
    color: #986531;
}
