.title-text {
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin: 20px;
}

widget.lockscreen {
    background: -gtk-icontheme('dialog-password'),
                linear-gradient(to right, rgba(61, 70, 81, 1) 0%,
                                          rgba(61, 70, 81, 1) 50%,
                                          rgba(61, 70, 81, 0) 51%,
                                          rgba(61, 70, 81, 0) 100%),
                linear-gradient(to right, rgba(61, 70, 81, 0) 0%,
                                          rgba(61, 70, 81, 0) 50%,
                                          rgba(61, 70, 81, 1) 51%,
                                          rgba(61, 70, 81, 1) 100%);
    background-repeat: no-repeat;
    background-position: center, -600px, 600px;
    opacity: 0;
    transition-property: background-position, opacity;
    transition-duration: 0.5s, 750ms;
    transition-timing-function: cubic-bezier(.5, 0, 1, .5), linear;
}

widget.lockscreen.locked {
    background-position: center, 0px, 0px;
    opacity: 1;
}

.default widget.lockscreen.locked {
    background-image: url('resource:///com/endlessm/HackToolbox/hacktoolbox/lockscreen.png');
    opacity: 1;
}

toolbox {
    background-image: url('resource:///com/endlessm/HackToolbox/hacktoolbox/background.png'),
                      radial-gradient(at -47% 158%,
                                      rgba(197, 163, 93, 0.81) 0%,
                                      rgba(208, 95, 52, 0.80) 14%,
                                      rgba(32, 69, 108, 0.63) 66%,
                                      #1C3753 100%),
                      image(rgba(14, 35, 65, 0.85));
}

toolbox headerbar {
    background: rgba(6, 20, 39, 0.80);
    opacity: 0.9;
}

toolbox revealer {
    /* This rule covers everything except the top header bar */
    font-family: 'Metropolis Medium';
}

.sourceview {
    background: transparent;
    font-family: Hack;
}

.sourceview text {
    background: rgba(6, 20, 39, 0.48);
    /* spec was opacity: 0.6 and background alpha 0.8, but it does *not* look
    like the text was meant to be 60% opaque. Instead I've multiplied the
    background alpha by 0.6 */
    color: #fdfdfd;
    font-size: 18px;
}

.sourceview .left {
    /* Here also, the spec was opacity: 0.6 and background alpha 0.8, and
    moreover it was supposed to be applied on top of the text background. Here
    we premultiply it (0.48 + 0.48 * (1 - 0.48)) */
    background: rgba(6, 20, 39, 0.7296);
}

.codeview-frame border, .codeview scrolledwindow {
    border-width: 0;
}

.codeview-frame {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
}

/* Toolbox HeaderBar */
frame.toolbox > border,
frame.toolbox > toolbox,
frame.toolbox > toolbox > headerbar {
    border-radius: 8px 8px 0px 0px;
}

button.color {
    min-width: 55px;
}

button.popup {
    min-width: 55px;
    min-height: 55px;
    /* Reduce extra horizontal padding from Adwaita */
    padding-left: 4px;
    padding-right: 4px;
}

.section {
    background: rgba(6, 20, 39, 0.48);
    /* spec was opacity: 0.6 and background alpha 0.8, but it does *not* look
    like the text was meant to be 60% opaque. Instead I've multiplied the
    background alpha by 0.6 */
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}

.section > .section-heading {
    background-image: linear-gradient(-129deg,
                                      rgba(11, 24, 60, 0.54) 0%,
                                      rgba(6, 20, 39, 0.40) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 18px;
    opacity: 0.85;
    padding: 5px 8px;
}

.codeview {
    font-family: monospace;
}

popover.error {
    background-color: #ffb1aa;
    padding: 12px;
}

.framework.toolbox-surrounding-window {
    background-color: rgba(0, 0, 0, 0.6);
}

.OperatingSystemApp.toolbox-surrounding-window,
.HackUnlock.toolbox-surrounding-window,
.Fizzics.toolbox-surrounding-window {
    background-color: rgba(0, 0, 0, 0);
}
