.title-text {
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin: 20px;
}

lockscreen > playbin.no-lock > lock {
    background: url('resource:///com/endlessm/HackToolbox/hacktoolbox/lockscreen.jpg') no-repeat center / cover;
}

toolbox {
    font-family: Metropolis;
}

toolbox .panel {
    background-image: url('resource:///com/endlessm/HackToolbox/hacktoolbox/background.png'),
                      radial-gradient(at -47% 158%,
                                      rgba(197, 163, 93, 0.81) 0%,
                                      rgba(208, 95, 52, 0.80) 14%,
                                      rgba(32, 69, 108, 0.63) 66%,
                                      #1C3753 100%),
                      image(rgba(14, 35, 65, 0.85));

    /* This inset box shadow is needed because the panel covers up the left
     * column's box shadow. */
    box-shadow: 4px 0 3px 0 rgba(0, 0, 0, 0.3) inset;
}

toolbox .left-column {
    background: #4a3a37;
    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

toolbox .masthead {
    padding: 12px;
}

toolbox .masthead .name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 6px;
}

toolbox .masthead .info {
    margin-left: 6px;
}

toolbox .left-column separator {
    border-width: 2px;
    color: black;
}

toolbox .left-column scrolledwindow {
    background-color: transparent;
    padding: 12px 6px 0 12px;
}

/* Remove undershoot dashed-lines */
toolbox .left-column scrolledwindow undershoot {
    background-image: none;
}

toolbox .left-column scrollbar {
    border-radius: 5px;
    border-width: 0;
}

toolbox .left-column scrollbar trough {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

toolbox .left-column scrollbar slider {
    margin: -3px;  /* removes padding in between slider and trough */
    min-width: 5px;
}

toolbox .left-column list {
    background-color: transparent;
}

toolbox .left-column list row {
    outline-width: 0;
    margin-bottom: 6px;
    margin-right: 18px;
}

toolbox .left-column list row:selected,
toolbox .left-column list row:hover {
    background-color: transparent;
}
toolbox .left-column list row:active {
    box-shadow: none;
}

.minimize {
    background-image: none;
    border: 0;
    box-shadow: none;
}

.minimize:focus {
    outline: none;
}

.reset {
    background-color: rgba(6, 20, 39, 0.6);
    background-image: none;
    border-radius: 12px;
    margin-top: 12px;
    padding: 0 12px;
    transition: background-color 200ms;
}

.reset label {
    padding-right: 6px;
}

.reset:hover {
    background-color: rgba(32, 46, 65, 0.6);  /* lighten rgba(6, 20, 39, 0.6) 10% */
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    margin: 6px;
    padding: 6px 18px;
}

.header label {
    margin-left: 12px;
}

.topic-revealer {
    padding: 15px 15px 0 0;
}

.topic {
    background-color: rgba(6, 20, 39, 0.8);
    border-radius: 25px;
    min-height: 154px;
    min-width: 154px;
    outline-width: 0;
    transition: background-color 200ms;
}

@keyframes reveal-topic {
    0%   { background-color: white; }
    100% { background-color: rgba(6, 20, 39, 0.8); }
}

.topic.reveal {
    animation: reveal-topic 1s ease-out;
}

.topic box {
    padding: 4px 17px;
}

row:hover .topic:not(.insensitive) {
    background-color: rgba(32, 46, 65, 0.8);  /* lighten rgba(6, 20, 39, 0.8) 10% */
}

.topic border {
    border-width: 0;
}

.topic label {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 12px;
    padding: 4px;
}

row:selected .topic:not(.insensitive) {
    background-color: #f18c22;
}

row:selected:hover .topic:not(.insensitive) {
    background-color: #ffa63c;  /* lighten #f18c22 10% */
}

.topic.insensitive {
    background-color: rgba(0, 0, 0, 0.3);
}

.topic.insensitive label {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(109, 110, 112, 1.0);
}

.topic.insensitive image {
    color: rgba(109, 110, 112, 0.4);
}

.sourceview {
    background: transparent;
    font-family: Hack;
}

.sourceview text {
    background: rgba(6, 20, 39, 0.48);
    /* spec was opacity: 0.6 and background alpha 0.8, but it does *not* look
    like the text was meant to be 60% opaque. Instead I've multiplied the
    background alpha by 0.6 */
    color: #fdfdfd;
    font-size: 18px;
}

.sourceview .left {
    /* Here also, the spec was opacity: 0.6 and background alpha 0.8, and
    moreover it was supposed to be applied on top of the text background. Here
    we premultiply it (0.48 + 0.48 * (1 - 0.48)) */
    background: rgba(6, 20, 39, 0.7296);
}

.codeview-frame border, .codeview scrolledwindow {
    border-width: 0;
}

.codeview-frame {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
}

button.color {
    min-width: 55px;
}

button.popup {
    min-width: 55px;
    min-height: 55px;
    /* Reduce padding from Adwaita */
    padding: 0px;
}

button .selected-contents {
    padding: 4px;
}

popover.popup-menu image {
    padding: 10px;
}

.section {
    background: rgba(6, 20, 39, 0.48);
    /* spec was opacity: 0.6 and background alpha 0.8, but it does *not* look
    like the text was meant to be 60% opaque. Instead I've multiplied the
    background alpha by 0.6 */
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}

.section > .section-heading {
    background-image: linear-gradient(-129deg,
                                      rgba(11, 24, 60, 0.54) 0%,
                                      rgba(6, 20, 39, 0.40) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 18px;
    opacity: 0.85;
    padding: 5px 8px;
}

/* Notebook and tabs */
notebook {
    background-color: rgba(6, 20, 39, 0.24);
    border: 0 none;
    border-radius: 8px;
}

notebook header {
    background-color: transparent;
    border: 0 none;
    padding: 0;
}

notebook tabs {
    background-color: transparent;
    padding: 1px;
}

notebook stack {
    background-color: transparent;
}

notebook tab {
    min-height: 69px;
    margin: 0;  /* remove Adwaita margin between tabs */

    /* these gradient colors are premultiplied with opacity: 0.85 */
    background-image: linear-gradient(-129deg,
                                      rgba(11, 24, 60, 0.46) 0%,
                                      rgba(6, 20, 39, 0.34) 100%);
}

notebook tab:checked {
    background-image: none;
    /* make the Adwaita highlight orange and move it up to the top */
    box-shadow: inset 0 3px #f18c22;
}

notebook tab:first-child {
     border-top-left-radius: 8px;
}

notebook tab:last-child {
    border-top-right-radius: 8px;
}

notebook tab:not(:checked):hover {
    /* Adwaita has a black shadow on hover, make it orange but less vivid than
     * the selected orange */
    box-shadow: inset 0 3px rgba(241, 140, 34, 0.4);
}

/* Checkboxes */
checkbutton {
   padding: 9px;
   background-color: rgba(6, 20, 39, 0.50);
}

/* Sliders */
slider {
    background-image: linear-gradient(-131deg,
                                      rgba(249, 147, 71, 0.85) 0%,
                                      rgba(241, 90, 34, 0.85) 100%);
}

.codeview {
    font-family: monospace;
}

frame.user-function {
    border-width: 0;
    padding: 12px;
}

popover.error {
    background-color: #191919;
    border: 1px solid #ff6a6a;
    border-radius: 1px;
    padding: 12px;
    font-family: Metropolis;
    font-size: 16px;
    color: white;
}

popover.error button {
    background-image: linear-gradient(49deg, #f99347 0%, #f15a22 100%);
    border-radius: 8px;
    outline: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    padding: 8px;
    font-family: 'Metropolis Medium';
}

popover.error button:hover {
    background-image: linear-gradient(49deg, #fcb936 0%, #fc4d36 100%);
}

.help-message-icon {
    color: #ff6a6a;
}

.framework.toolbox-surrounding-window.has-changes {
    background-image: cross-fade(100% url('resource:///com/endlessm/HackToolbox/framework/toolbox-background.png'),
                                 linear-gradient(transparent, transparent));
    transition-duration: 200ms;
}

.framework.toolbox-surrounding-window {
    background-image: cross-fade(0% url('resource:///com/endlessm/HackToolbox/framework/toolbox-background.png'),
                                 linear-gradient(transparent, transparent));
    transition: background-image 10s;
}

.framework entry.input {
    color: #f18c22;  /* orange indicates something you can use */
}

.framework entry.output {
    color: #babdb6;  /* slightly darker than white to indicate "not editable" */
}

/* Keep in sync with "toolbox .panel" background above */
.HackUnlock frame.toolbox {
    background-image: url('resource:///com/endlessm/HackToolbox/hacktoolbox/background.png'),
                      radial-gradient(at -47% 158%,
                                      rgba(197, 163, 93, 0.81) 0%,
                                      rgba(208, 95, 52, 0.80) 14%,
                                      rgba(32, 69, 108, 0.63) 66%,
                                      #1C3753 100%),
                      image(rgba(14, 35, 65, 0.85));
}

.HackUnlock toolbox {
    font-family: 'Metropolis Medium';
}

.HackUnlock frame.toolbox,
.HackUnlock frame.toolbox border,
.HackUnlock frame.toolbox > toolbox,
.HackUnlock frame.toolbox > toolbox > headerbar {
    border-radius: 8px 8px 0 0;
}

.HackUnlock frame.toolbox > toolbox > headerbar {
    background: rgba(6, 20, 39, 0.80);
    opacity: 0.9;
}

.framework.toolbox-surrounding-window,
.OperatingSystemApp.toolbox-surrounding-window,
.HackUnlock.toolbox-surrounding-window,
.Fizzics.toolbox-surrounding-window,
.LightSpeed.toolbox-surrounding-window,
.Sidetrack.toolbox-surrounding-window {
    background-color: rgba(0, 0, 0, 0);
}

.wobblyLock {
    border-radius: 8px 8px 8px 8px;
}

#fake-saniel-dialog {
    background-color: transparent;
    border: 0 none;
    color: black;
    font-family: "Metropolis Medium";
    margin: 10px;
}

#fake-saniel-dialog frame {
    background-color: white;
    border-radius: 12px;
    margin: 16px;
    padding: 32px 128px 40px 24px;
}

#fake-saniel-dialog button {
    background-image: image(#ce5611);
    border: 0;
    border-radius: 17.5px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, .2);
    color: white;
    padding: 4px 48px;
    margin-left: 40px;
    text-shadow: 0 0.5px 2px rgba(0, 0, 0, .4);
}
#fake-saniel-dialog button:hover {
    background-image: image(#d56f34);
}
#fake-saniel-dialog button:active {
    background-image: image(#af490e);
}

#saniel-head {
    background-image: url('resource:///com/endlessm/HackToolbox/OperatingSystemApp/saniel-still.png');
    background-position: top right;
    background-repeat: no-repeat;
}

/* Miscellaneous theme overrides */
arrow, button.down, button.up, .dropdown {
   opacity: 0.81;
   color: #f18c22;
}

button.toggle,
button.combo,
spinbutton,
entry {
    background: rgba(11,28,53,0.60);
}

arrow:disabled,
button.down:disabled,
button.up:disabled,
.dropdown:disabled {
    /* Adwaita uses 50% mix between foreground and background color for
     * insensitive FG. The BG color here is from Adwaita's dark variant.
     * Computed with sassmeister.com from these functions:
     * color: mix(#f18c22, desaturate(#3d3846, 10%), 50%); */
    color: #986531;
}

.units {
    min-width: 55px;
    min-height: 55px;
    /* Reduce padding from Adwaita */
    padding: 0px;
}

