[Desktop Entry]
Version=1.0
Name=Hack Toolbox
Comment=Hack Toolbox
Type=Application
Exec=com.hack_computer.HackToolbox
Categories=Development;
DBusActivatable=true
StartupNotify=true
NoDisplay=true
